<form
  hx-boost="true"
  action="/chat"
  method="post"
  hx-push-url="false"
  hx-swap="outerHTML"
  hx-target="this"
  hx-on::before-send="handleBeforeSend(event)"
>
  <textarea
    name="text"
    maxlength="4000"
  ></textarea>
  <br/>
  <input
    type="submit"
    value="Chat"
  />
  <p class="response">{{#if response}}{{response}}{{/if}}</p>
</form>
