<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Talk to your data</title>
<link rel="stylesheet" href="style.css" />
<script src="/htmx.min.js"></script>
<script src="response-targets.js"></script>
<script src="./script.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
